@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


.form_filter {
    width: 100%;
 
    height: 2em;
    
    display: flex;
    justify-content: space-between;
}

.form_filter input{
    width: 70%;
}

.form_filter label {
    align-items: center;
    display: flex;
    padding-left: 20px;
}

.form_form {
    height: 20vh;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
   
}

.formContainer button {
    width: 33%;

   height: 2em;
   background-color: #FC6736;

}

.container-fp {
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    height: 30px;
    margin-left: 30%;
    justify-content: space-between;

    align-items: center;
}