@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


.headerNav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    font-family: 'Nunito', sans-serif ;
}

.headerNav h1 {
    color: #FC6736;
    font-size:larger;
    font-weight: 800;
}
.headerNav_list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.mode {
    font-size:larger;
}

.bx-toggle-left.bx-toggle-right {
    font-size: 2em;
}