@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
.sub_filter {
    font-family: 'Nunito', sans-serif;
    font-size: smaller;
}
.productsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
}

.filtersContainer {
display: none;
}

.open {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;


}

.search_home {
    width: 90%;
 margin: 0 auto;
    display: flex;
    height: 2em;
    justify-content: center;
}

.search_home input {
    width: 80%;
    margin: 0;
    padding: 0;
}

.search_home div {
    width: 10%;
    background-color: #FC6736;
    display: flex;
    align-items: center;
    
}

.filter_home {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    height: 2em;
   
    align-items: center;
    color: gray;
    

}

.filter_home i {
    font-family: 'Nunito', sans-serif;
}

.filter_home i {
    cursor: pointer;
}

.bx {
    font-size: large;
}
.bx-search {
   color: white;
    
    margin: 0 auto;
    font-size:x-large;
}

.container_btn {

    float: right;
}

.bx-x-circle {
    font-size: 15px;
}

.filtersContainer h3 {
    padding-top: 2em;
}

